<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>Api Test</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" >
  <!-- import CSS -->
  <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
  <style type="text/css">
    .btn-block {
      display: block;
      margin-top: 10px;
      width: 100%;
    }
    .text {
      font-size: 14px;
    }
  
    .item {
      margin-bottom: 18px;
    }
  
    .clearfix:before,
    .clearfix:after {
      display: table;
      content: "";
    }
    .clearfix:after {
      clear: both
    }
  
    .box-card {
      margin: 10px auto;
    }
  </style>
</head>

<body>
  <div id="app">
    <el-container>
      <el-header>
        <h1>Test Api for mitao</H1>
      </el-header>
      <el-main>
        <el-row v-for="api in apis" :key="api.apiName" :gutter="20">
          <el-col :span="22" :offset="1">
            <el-button :type="api.btnType" class="btn-block" round @click="callApi(api)">{{ api.title }}
              <span v-if="api.apiName">【{{ api.apiName }}】</span>
            </el-button>
          </el-col>
        </el-row>
        <el-dialog :visible.sync="dialog.visible" title="dialog.title">
          <p>{{ dialog.content }}</p>
        </el-dialog>

        <el-card class="box-card">
          <div slot="header" class="clearfix">
            <span>运行日志</span>
            <el-button @click="logs=[];log('清空日志成功')" style="float: right; padding: 3px 0" type="text">清空日志</el-button>
          </div>
          <div v-for="o in logs" class="text item">
            {{o.time }} {{o.text}}
          </div>
        </el-card>

        <el-card class="box-card">
          <div slot="header" class="clearfix">
            <span>showGoodsInfo</span>
            <el-button @click="callCustomApi('showGoodsInfo')" style="float: right; padding: 3px 0" type="text">发起调用</el-button>
          </div>
          <div  class="text item">
              <el-input v-model="custom.showGoodsInfo.id" placeholder="商品 ID"></el-input>
          </div>
        </el-card>
        <el-card class="box-card">
          <div slot="header" class="clearfix">
            <span>requestApi</span>
            <el-button @click="callCustomApi('requestApi')" style="float: right; padding: 3px 0" type="text">发起调用</el-button>
          </div>
          <div class="text item">
              <el-input v-model="custom.requestApi.apiPath" placeholder="接口路径"></el-input>
              <el-select v-model="custom.requestApi.method" placeholder="请选择请求方式">
                <el-option
                  v-for="item in requestMethods"
                  :key="item.value"
                  :label="item.label"
                  :value="item.value">
                </el-option>
              </el-select>
              <el-input type="textarea" :rows="5" :value="JSON.stringify(custom.requestApi.params,'',4)" @change="changeValue" placeholder="请求参数，请以 JSON 格式书写"></el-input>
              <el-alert title="请求参数，请以 JSON 格式书写" type="info"></el-alert>
          </div>
        </el-card>
      </el-main>
      
    </el-container>
  </div>
</body>
<!-- import mitao api common file -->
<script src="../lib/mitaoApi.js"></script>
<!-- import Vue before Element -->
<script src="https://unpkg.com/vue/dist/vue.js"></script>
<!-- import JavaScript -->
<script src="https://unpkg.com/element-ui/lib/index.js"></script>
<script>
  function roundInt(min, max) {
      var r = Math.floor(Math.random() * (max - min + 1) + min)
      console.log('rund int ', r)
      return r;
  }
  window.vm = new Vue({
    el: '#app',
    data: {
        dialog: {
          visible: false,
          title: 'Dialog',
          content: 'text'
        },
        requestMethods:[
          {
            value: 'get',
            label: 'GET'
          }, {
            value: 'post',
            label: 'POST'
          }
        ],
        lastColor: '',
        lastText: '',
        roundColors: 'primary/success/warning/danger/info'.split('/'),
        roundTexts: '内容1/内容2/内容3/内容4/这是一个不一样的内容'.split('/'),
        apis: [{
            title: '本按点击不会有任何反应',
            type: '',
            apiName: '',
            params: {}
          },
          {
            title: '打开新窗口',
            type: 'apiTest',
            apiName: 'openWindow',
            params: {
              url: 'http://m.baidu.com/'
            }
          },
          {
            title: '关闭窗口',
            type: 'apiTest',
            apiName: 'closeWindow',
            params: {}
          },
          {
            title: '商品详情',
            type: 'apiTest',
            apiName: 'showGoodsInfo',
            params: {
              id: 2222
            }
          },
          {
            title: '设置关闭前事件',
            type: 'apiTest',
            apiName: 'closeWindowBefore',
            params: {}
          },
          {
            title: '设置窗口标题',
            type: 'apiTest',
            apiName: 'setTitle',
            params: {
              title: '这是新窗口标题'
            }
          },
          {
            title: '显示我的订单',
            type: 'apiTest',
            apiName: 'showMyOrders',
            params: {}
          },
          {
            title: '显示我的蜜桃',
            type: 'apiTest',
            apiName: 'showMyMitao',
            params: {}
          },
          {
            title: '显示我的余额',
            type: 'apiTest',
            apiName: 'showMyMoney',
            params: {}
          },
          {
            title: '显示帮助',
            type: 'apiTest',
            apiName: 'showHelp',
            params: {}
          },
          {
            title: '复制一段内容',
            type: 'apiTest',
            apiName: 'xCopy',
            params: {
              text: '这是一段复制的内容'
            }
          },
          {
            title: '显示订单详情',
            type: 'apiTest',
            apiName: 'showOrderInfo',
            params: {
              order_id: 333,
              primary:1
            }
          },
          {
            title: '支付一个订单',
            type: 'apiTest',
            apiName: 'payOrder',
            params: {
              order_id: 333,
              primary:1
            }
          },
          {
            title: '下载图片和视频',
            type: 'apiTest',
            apiName: 'download',
            params: {
              urls: [
              {
                url:'http://mp.smallmitao.com/data/gallery_album/857/thumb_img/1536229608406664015.jpg',
                type:"image/jpg"
              },
              {
                url:'http://static.smallmitao.com/video/2.mp4',
                type:"video/mp4"
              }
              ]
            }
          },
          {
            title: '调用二维码扫描',
            type: 'apiTest',
            apiName: 'openQrCode',
            params: {
              isReturn: function () {
                return [true, false][roundInt(0, 1)]
              }
            }
          },
          {
            title: '请求 Api 接口',
            type: 'apiTest',
            apiName: 'requestApi',
            params: {
              apiPath: '/app/goods/info',
              method: 'get',
              params: {
                goods_id: 1630
              }
            }
          },
          {
            title: '遮罩提示框',
            type: 'apiTest',
            apiName: 'dialog',
            params: {
              type: function () {
                return ["info", "error","success","loading"][roundInt(0, 1)];
              },
              autoCloseTime:function(){
                return roundInt(1,10);
              },
              text:function (argument) {
                return "这是内容-"+roundInt(1,100)
              }
            }
          },
          {
            title: '分享接口',
            type: 'apiTest',
            apiName: 'share',
            params: {
              shareType:'wechat',
              shareData:{
                type:'WXSceneSession',
                title:"陕西大荔",
                description:"陕西大荔冬枣一级果 5斤装",
                webpageUrl:"http://h5.smallmitao.com/index.html#/?id=1630",
                imageUrl:'http://mp.smallmitao.com/data/gallery_album/857/thumb_img/1536229608406664015.jpg'
              }
            }
          }
        ],
        logs:[],
        custom:{
          showGoodsInfo:{
            id:''
          },
          requestApi: {
            apiPath: '/app/goods/info',
            method: 'get',
            params: {
              goods_id: 1630
            }
          }
        }
    },
    methods: {
      log(text){
        this.logs.unshift({time:new Date().toLocaleString(),text:text})
      },
      roundInt(min, max) {
        var r = Math.floor(Math.random() * (max - min + 1) + min)
        console.log('rund int ', r)
        return r;
      },
      getParams(o) {
        var no = {}
        for (var i in o) {
          var oi = o[i]
          no[i] = typeof (oi) == 'function' ? oi() : oi
        }
        return no
      },
      roundColor() {
        var rc = this.roundColors[this.roundInt(0, this.roundColors.length - 1)]
        if (rc == this.lastColor) {
          return this.roundColor()
        }
        this.lastColor = rc;
        return rc;
      },
      roundText:function() {
        var rc = this.roundTexts[this.roundInt(0, this.roundTexts.length - 1)]
        if (rc == this.lastText) {
          return this.roundText()
        }
        this.lastText = rc;
        return rc;
      },
      callApi(api) {
        
        if(api.type == ''){
          return 
        }
        this.log('请求接口: '+api.apiName)
        var params = this.getParams(api.params)
        this.$message('请求接口:' + api.apiName+' 请求参数：'+JSON.stringify(params))
        window.mitaoApi.invoke(api.apiName,params,function(res){
          this.log('接口返回: '+JSON.stringify(res))
          showResult('Api 接口返回', [
            '<p>状态：'+res.status+'</p>',
            '<p>时间：'+new Date(res.time).toLocaleString()+'</p>',
            '<p>数据：'+res.status+'</p>',
          ].join('\n'))
        })
      },
      showResult(title, content) {
        this.dialog.visible = true
        this.dialog.title = title
        this.dialog.content = content
      },
      changeValue(data){
        try{
          this.custom.requestApi.params=JSON.parse(data)
        }catch(e){
          this.$message({
            type:'error',
            message:'参数值必须为 JSON 格式，错误如下：'+e
          })
        }
      },
      callCustomApi(api){
        this.callApi({
          type: 'apiTest',
          apiName: api,
          params: this.custom[api]
        })
      }
    },
    beforeCreate() {

    },
    created() {
      this.log('启动调试样例成功')
      this.apis.map(item => {
        item.btnType = this.roundColor()
        return item
      })
      this.log('初始化数据样例成功')
      window.mitaoApi.ready(function () {
        console.log('window.mitaoApi.ready yes')
        this.log('初始化回调: mitaoApi.ready 成功')
        window.mitaoApi.invoke('dialog', {
          type: 'loading',
          text: '正在加载测试...',
          autoCloseTime: 4
        })
      })
    },
  })
</script>

</html>